@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-100 text-slate-900 antialiased font-sans min-h-screen selection:bg-blue-500 selection:text-white;
  }
}

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  @page {
    size: A4 landscape;
    margin: 10mm 10mm 10mm 10mm;
  }

  header, nav, button, .print\:hidden {
    display: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
